{% extends "main/base.html" %}
{% block content %}

{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Προβλέψεις παραγόμενων αποβλύτων</h1>
      <button type="button" onclick="$('#exportModal').modal('show');" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus fa-sm text-white-50"></i>
        </span>
        <span class="text">Προσθήκη νέων προβλέψεων</span>
    </button>
  </div>
  

  <!-- TSDA Row -->
  <div class="row">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <a href="#collapseTSDA" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="collapseTSDA">
            <h6 class="m-0 font-weight-bold text-primary">Πρόβλεψη ΤΣΔΑ</h6>
        </a>

        <!-- Card Body -->
        <div class="collapse hidden" id="collapseTSDA">
          <div class="card-body">
            <!-- Content Row -->
            <div class="row">

              {% for i in wt %}
              <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-{{ i.waste_color }} shadow h-100 py-2">
                  <div class="card-body" style="cursor: pointer;" onclick="window.location='{% url 'waste_info' i.idwaste_translation %}';">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-{{ i.waste_color }} text-uppercase mb-1">
                          {{ i.waste_greek_no_pun }}
                        </div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Πρόβλεψη: 1.278,89 tn</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-auto">
                        <i class="{{ i.waste_icon}}"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Progress Row -->
  <div class="row">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <a href="#collapseCurrent" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="collapseCurrent">
            <h6 class="m-0 font-weight-bold text-primary">Πρόοδος</h6>
        </a>

        <!-- Card Body -->
        <div class="collapse show" id="collapseCurrent">
          <div class="card-body">
            <!-- Content Row -->
            <div class="row">
              {% for i in wt %}
              <div class="col-xl-3 col-md-3 mb-5">
                <div class="card border-left-{{ i.waste_color }} shadow h-100 py-2">
                  <div class="card-body" style="cursor: pointer;" onclick="window.location='{% url 'waste_info' i.idwaste_translation %}';">
                    <div class="row no-gutters align-items-center">
                      <div class="col md-1">
                        <div class="text-xs font-weight-bold text-{{ i.waste_color }} text-uppercase md-4">
                          {{ i.waste_greek_no_pun }}
                        </div>
                        <div class="row no-gutters align-items-center4">
                          <div class="col-md-6">
                            <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">Σύνολο </div>678,89 tn
                          </div>
                        </div>                    
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-12">
                              <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">Κατάσταση:</div>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-4">
                            50%</div>
                            <div class="col-md-6">
                              <div class="progress progress-sm mr-8">
                                <div class="progress-bar bg-{{ i.waste_color }}" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>  
                            </div> 
                        </div> 
                      </div>

                      <div class="col-mr-0 md-4">
                        <i class="{{ i.waste_icon }}"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ML Row -->
  <div class="row">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <a href="#collapsePrediction" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="collapsePrediction">
            <h6 class="m-0 font-weight-bold text-primary">Αλγοριθμική Πρόβλεψη</h6>
        </a>

        <!-- Card Body -->
        <div class="collapse hidden" id="collapsePrediction">
          <div class="card-body">

            <div class="row">
              {% for i in wt %}
              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Γραφική Αναπαράσταση</h6>
                    <!-- <div class="dropdown no-arrow">
                      <a id="download1"
                          data-value="gChart"
                          download="ChartImage.jpg" 
                          href=""
                          class="btn btn-primary float-right bg-flat-color-1"
                          title="Αποθήκευση ως εικόνα">

                          Download Icon
                          <i class="fa fa-download"></i>
                      </a>
                  </div> -->
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="gChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Αποτελέσματα</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="col-xl-12 col-md-6 mb-4">
                      <div class="card border-left-{{ i.waste_color }} shadow h-100 py-2">
                        <div class="card-body" style="cursor: pointer;" onclick="window.location='{% url 'waste_info' i.idwaste_translation %}';">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-{{ i.waste_color }} text-uppercase mb-1">
                                {{ i.waste_greek_no_pun }}
                              </div>
                              <br/>
                              <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                  <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">Ετήσια Πρόβλεψη: </div>1.278,89 tn
                                </div>
                              </div>
                              <br/>
                              <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                  <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">Μέσος όρος (ανά Μήνα): </div>1.278,89 tn
                                </div>
                              </div>
                              <br/>
                              <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                  <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">Ετήσια Μεταβολή: </div>1.278,89 tn
                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <i class="{{ i.waste_icon }}"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#download1").click(function(){
    i = $(this).data("value");
    var url_base64jp = document.getElementById(i).toDataURL("image/jpg");
    /*get download button (tag: <a></a>) */
    var a =  document.getElementById("download1");
    /*insert chart image url to download button (tag: <a></a>) */
    a.href = url_base64jp;
  });
</script>

<!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

{% endblock content %}