{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Σύνδεση</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/login_main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_main.css' %}">

    <style type="text/css">
        .signpanel{
            background-color: #2e86c1 ;
            background-image: url("{% static 'media/background.jpg' %}");
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="row" style="margin-top: 20px;">
        <div class="container-fluid">
            <div id="login-row">
                <div id="login-box" class="col col-md-4" style="float: none; margin: auto; max-width: 310px; height: auto; background-color: rgba(55, 61, 71, 0.9); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 6px;">
                    <div class="form-group" style="text-align: center; width: 100%;">
                        <p class="text-center text-info">
                            <br />
                            <img src="images/logo-dimou.png" style="width: 90px; height: auto;" />
                        </p>
                        <p class="text-center text-info">
                            <img src="images/intelli_queue.fw.png" style="width: 200px; height: auto;" />
                        </p>
                        <p class="text-center text-info" style="color: white">
                            <strong style="font-size: large;">IntelliServe</strong><br />
                            ΑΘΛΗΤΙΣΜΟΣ - ΠΟΛΙΤΙΣΜΟΣ
                            <br />
                            Ηλεκτρονικές Κρατήσεις
                        </p>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="username" class="text-info">Όνομα Χρήστη:</label><br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <asp:TextBox ID="txtusernameLogin" runat="server" class="form-control" placeholder="Όνομα Χρήστη"></asp:TextBox>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: left">
                        <label for="password" class="text-info">Κωδικός Πρόσβασης:</label><br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <asp:TextBox ID="txtpasswordLogin" runat="server" type="password" class="form-control" placeholder="Κωδικός Πρόσβασης"></asp:TextBox>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remember-me" class="text-info">
                            <span>Remember me</span> <span>
                                <input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                        <asp:Button ID="btnLogin" runat="server" Text="Είσοδος" Style="width: 100%;" class="btn btn-info btn-md form-control" OnClick="btnLogin_Click" />
                        <br />
                        <asp:Label ID="lblstatus" runat="server" Text=""></asp:Label><br />
                        <asp:Button ID="btnSignUp" runat="server" Text="Εγγραφή" Style="width: 100%" class="btn btn-warning btn-md" OnClick="btnSignUp_Click" /><br />
                    </div>                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-group" style="text-align: left;">
                                <a href="/ForgotPassword" style="font-size: small; color: white;">Αλλαγή Κωδικού</a>
                            </div>
                        </div>
                        <p style="text-align: center; color: gray">
                            <a href="https://www.evolutionprojects.gr/" target="_blank">
                                <img src="~/images/evo.jpg" style="width: 180px;" runat="server" /></a>
                        </p>
                        <div class="col-md-6">
                            <p style="text-align: right"><a href="/PrivacyPolicy.aspx" target="_blank" style="color: white;">Όροι Χρήσης</a></p>
                        </div>
                        <div class="col-md-12">
                            <p style="text-align: center; color: gray">
                                Powered by <a href="https://www.intelligentcity.gr/" target="_blank">
                                    <img src="images/powered.png" style="max-width: 130px" /></a>
                            </p>
                        </div>
                        <img src="images/more.png" style="max-width: 100%" />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>