<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Σύστημα Παρακολούθησης Αποβλήτων</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/number_type.css' %}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <link rel="script" href="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"/>

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="sidebar-brand-text mx-3">Σύστημα Παρακολούθησης Αποβλήτων</div>
                </nav>
                
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h2 class="h3 mb-0 text-gray-800">Επαναφορά Κωδικού Πρόσβασης</h1>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <dl>
                            <dt>Τα βήματα ανάκτησης του κωδικού πρόσβασης είναι τα εξής:</dt>
                            <dd>- Eισαγωγή του username και του email το οποίο έχει δηλωθεί στην εγγραφή χρήστη, για επιβεβαίωση.</dd>
                            <dd>- Επιλογή αποστολής του νέου κωδικού είτε στο email είτε στο κινητό τηλέφωνο που είχε δηλωθεί στην εγγραφή χρήστη.</dd>
                            <dd>- Αλλαγή του νέου αυτού κωδικού από τις ρυθμίσεις του συστήματος, αμέσως μετά την σύνδεση.</dd>
                        </dl>
                    </div>
                
                    <div class="row">
                        <div class="col-lg-8 pb-5">
                            <form class="row" method="post" action="{% url 'change_password' %}">
                               {% csrf_token %}
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label for="n_pwd1">Όνομα Χρήστη</label>
                                       <input class="form-control" type="text" id="username" name="username" required="">
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label for="n_pwd2">Email</label>
                                       <input class="form-control" type="email" id="email" name="email" required="">
                                   </div>
                               </div>
                               <div class="col-md-6">
                                    <div class="form-group">
                                        <p>Αποστολή νέου κωδικού:</p>
                                        <input type="radio" id="option-email" name="option-email" value="email">
                                        <label for="email">Email</label><br>
                                        <input type="radio" id="option-phone" name="option-phone" value="phone">
                                        <label for="phone">Κινητό Τηλέφωνο</label><br>
                                    </div>
                                </div>
                               <div class="col-12">
                                   <hr class="mt-2 mb-3">
                                   <div class="d-flex flex-wrap justify-content-between align-items-center">
                                       <button class="btn btn-style-1 btn-primary" type="submit" data-toast=""
                                           data-toast-position="topRight" data-toast-type="success"
                                           data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                           data-toast-message="Eπιτυχία αλλαγής !">Επαναφορά κωδικού</button>
                                   </div>
                               </div>
                           </form>
                       </div>
                    </div>

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; EvolutionProjects+ 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    
</body>


</html>