{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Σύνδεση</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/login_main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_main.css' %}">

    <style type="text/css">
        .signpanel{
            background-color: #2e86c1 ;
            background-image: url("{% static 'media/background.jpg' %}");
            background-attachment: fixed;
            background-repeat: no-repeat; 
            background-size: cover;
        }
        .container-fluid {
            margin: 0 auto;
            width: auto;
            padding: 0;
        }
        #login-box{
            margin: 0 auto!important;
            top:10vh;
            width:auto!important;
            max-width: 300px;
        }
    </style>
</head>

<body class="signpanel">
    <div class="row" style="margin-top: 50px;margin:0px;">
        <div class="container-fluid">
                <div id="login-box" class="col-md-5 col-sm-6 col-xs-5" style="float: none;height: auto; background-color: rgba(55, 61, 71, 0.9); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 6px;">
                    <div class="form-group" style="text-align: center; width: 100%;">
                        <p class="text-center text-info">
                            <br />
                            <img src="{% static 'media/logo.png' %}" style="width: 90px; height: auto;" />
                        </p>
                        <br>
                        <label class="text-center" style="color: #fff">
                            <strong style="font-size: large;" class="text-info">CityWaste</strong><br />
                            Πλατφόρμα Παρακολούθησης Δεδομένων Αποβλήτων
                        </label>
                    </div>
                    <br />
                    <form style='text-align:center;' class="login100-form validate-form flex-sb flex-w" method="POST" action="{% url 'login_auth' %}">
                    {% csrf_token %}
                    <div class="form-group" style="width:100%">
                        <div class="form-group input-sm" style="text-align: center;">
                            <span class="focus-input100"></span>
                            <input id="id_username" name="username" type="text" placeholder="Όνομα Χρήστη" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" style="width:100%">
                        <div class="form-group input-sm">
                            
                            <span class="focus-input100"></span>
                            <input id="id_password" name="password" type="password" placeholder="Κωδικός Πρόσβασης" class="form-control">
                            
                        </div>
                    </div>
                        {% if form.errors %}
                        <p style="color:red; text-align:center;" class=" label label-danger">
                            Λανθασμένα στοιχεία (όνομα χρήστη ή κωδικός).
                        </p>
                    {% endif %}
                    <div class="form-group" style="text-align:center; width: 100%;">
                        <!-- <button style="width: 100%;" class="btn btn-primary" onclick="login_posts();" value="Login">
                            Είσοδος
                        </button> -->
                        <button style="width: 100%;" class="btn btn-primary" value="Login">
                            Είσοδος
                        </button>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    </form>                    
                    <div class="form-group">
                        <div class="col-md-12">
                            <a style='text-align:center;' href="{% url 'forgot_password' %}" target="_blank">Ξεχάσατε τον κωδικό σας ;</a>
                        </div>
                        {% comment %} <p style="text-align: center; color: gray">
                            <a href="https://www.evolutionprojects.gr/" target="_blank">
                                <img src="~/images/evo.jpg" style="width: 180px;" runat="server" /></a>
                        </p> {% endcomment %}
                        <div class="col-md-12">
                            <br />
                            <p style="text-align: center; color: gray; text-align: center;">
                                Powered by &nbsp; &nbsp; <a href="https://www.intelligentcity.gr/" target="_blank" style="text-align: right;">
                                    <img src="{% static 'media/city_waste_icityops.png' %}" style="max-width: 95px;"/></a>
                            </p>
                        </div>
                        <br />
                    </div>
                 </div>
        </div>
    </div>
</body>

<!-- <script>
    function login_posts() {
        $.ajax({
            url: '{% url 'auth_user' %}',
            type: 'POST',
            data: {username: $('#id_username').val(), password: $('#id_password').val()},
            success: function () {
                // alert('api login');
            },
            error: function () {
                // alert('api error');
            }
        });
    }
</script> -->

</html>