<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Σύστημα Διαχείρησης Αποβλήτων</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <meta http-equiv="refresh" content="1; URL={% url 'login' %}" />
</head>

<body>
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Επιτυχία!</strong> Αποσυνδεθήκατε επιτυχώς.
    </div>
</body>

</html>