{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Αρχείο Δραστηριοτήτων</h1>
    <p class="mb-4"></p>

    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="logTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ενέργεια</th>
                            <th>Περιγραφή</th>
                            <th>Ημερομηνία-Ώρα</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in logs %}
                        <tr>
                            <td>{{ l.action }}</td>
                            <td>{{ l.details }}</td>
                            <td>{{ l.log_timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Create DataTable
        $('#logTable').DataTable();
    });

</script>
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

{% endblock content %}