{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Σύνδεση</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/login_main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_main.css' %}">

    <style type="text/css">
        .signpanel{
            background-color: #2e86c1 ;
            background-image: url("{% static 'media/background.jpg' %}");
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="limiter">
        <div class="signpanel container-login100">
            {% comment %} <div class="wrap-login100 p-l-160 p-r-160 p-t-65 p-b-45">  {% endcomment %}
                <div id="login-box" class="col col-md-4" style="float: none; margin: auto; max-width: 310px; height: auto; background-color: #34495e; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 6px;">
                <div style='text-align:center;'>
                    <p class="text-center text-info">
                        <br />
                        <img src="{% static 'media/logo.png' %}" alt='' width='30%' />
                    </p>
                    <p class="text-center text-info" style="color: white">
                         <strong style="font-size: large;">IntelliWaste</strong><br />
                            Πλατφόρμα Παρακολούθησης Δεδομένων Αποβλήτων
                    </p>
                </div>
                <form style='text-align:center;' class="login100-form validate-form flex-sb flex-w" method="POST">
                    {% csrf_token %}
                    
                    <div style='text-align:center;' class="p-t-20 p-b-9">
                        <span class="txt1">
                            Όνομα χρήστη
                        </span>
                    </div>
                    <div class=" wrap-input100 validate-input" data-validate="Απαιτείται όνομα χρήστη">
                        {{ form.username }}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Κωδικός
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Απαιτείται κωδικός χρήστη">
                        {{ form.password }}
                        <span class="focus-input100"></span>
                    </div>

                    {% if form.errors %}
                    <p style="color:red; text-align:center;">Πρόβλημα με την σύνδεση. Λάθος όνομα χρήστη/κωδικός.</p>
                    {% endif %}

                    <div style='text-align:center;' class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Είσοδος
                        </button>
                    </div>
                </form>
                <p>&ensp;</p>
                <div style='text-align:center;'><p>&ensp; Powered By</p> <a href='http://www.intelligentcity.gr' target='_blank'><img width='130px' src="{% static 'media/city_waste_icityops.png' %}" alt='' /></a></div>
                <div style='text-align:center; margin-top:2rem;'><a href='https://penteli.gov.gr' target='_blank'><img width='350px' src="{% static 'media/graphic_login.png' %}" alt='' /></a></div>
            </div>
        <!-- </div> -->
        </div>
    </div>
</body>

</html>