{% extends "main/base.html" %}
{% block content %}

<div class="container mt-2">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800">Πληροφορίες Χρήστη</h1>
    </div>

    <div class="row">
        <!-- Profile Settings-->
        <div class="col-lg-8 pb-5">
            <form class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-n">Ονοματεπώνυμο</label>
                        <input class="form-control" type="text" id="account-n" value="{{ curr_user.name }}" disabled="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-un">Όνομα Χρήστη</label>
                        <input class="form-control" type="text" id="account-un" value="{{ curr_user.username }}" disabled="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-email">Διεύθυνση E-mail</label>
                        <input class="form-control" type="email" id="account-email" value="{{ curr_user.email }}" disabled="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-mun">Δήμος / Φορέας</label>
                        <input class="form-control" type="text" id="account-mun" value="{{ curr_user.municipality }}" disabled="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="account-priv">Eπίπεδο Δικαιωμάτων Χρήστη</label>
                        {% if curr_user.privileges == 1 %}
                        <input class="form-control" type="text" id="account-priv" value="Διαχειριστής Evolution (Intergrator)" disabled="">
                        {% elif curr_user.privileges == 2 %}
                        <input class="form-control" type="text" id="account-priv" value="Διαχειριστής Δήμου (Administrator)" disabled="">
                        {% elif curr_user.privileges == 3 %}
                        <input class="form-control" type="text" id="account-priv" value="Χρήστης Δήμου (Editor)" disabled="">
                        {% elif curr_user.privileges == 4 %}
                        <input class="form-control" type="text" id="account-priv" value="Επισκέπτης (Guest)" disabled="">
                        {% endif %}
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button onclick="tosettings();" class="btn btn-style-1 btn-primary" type="button">Αλλαγή Κωδικού Πρόσβασης</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function tosettings() {
        window.location.href = "{% url 'user_settings' %}";
    }

</script>

{% endblock content %}