{% extends "main/base.html" %}
{% block content %}

<div class="container mt-2">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800">Αλλαγή Κωδικού </h1>
    </div>

    <div class="row">

        {% comment %} <!-- form -->
        <div class="col-lg-8 ">
            <div class="card shadow mb-4">
                <a href="#collapseDataForm" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseDataForm">
                    <h6 class="m-0 font-weight-bold text-primary">Προσθήκη Δεδομένων Αποβλήτων</h6>
                </a>

                <div class="collapse show" id="collapseDataForm">
                    <div class="card-body">
                        <form class="row" method="post" action="{% url 'change_password' %}">
                            {% csrf_token %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="old_pwd">Παλιός Κωδικός</label>
                                    <input class="form-control" type="password" id="old_pwd" name="old_pwd" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="n_pwd1">Νέος Κωδικός</label>
                                    <input class="form-control" type="password" id="n_pwd1" name="n_pwd1" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="n_pwd2">Επιβεβαίωση Νέου Κωδικός</label>
                                    <input class="form-control" type="password" id="n_pwd2" name="n_pwd2" required="">
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-3">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <button class="btn btn-style-1 btn-primary" type="submit" data-toast=""
                                        data-toast-position="topRight" data-toast-type="success"
                                        data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                        data-toast-message="Eπιτυχία αλλαγής !">Αλλαγή κωδικού</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         {% endcomment %}

        <div class="col-lg-8 pb-5">
             <form class="row" method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="id_old_password">Παλιός Κωδικός</label>
                        <input class="form-control" type="password" id="id_old_password" name="old_password" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_new_password1">Νέος Κωδικός</label>
                        <input class="form-control" type="password" id="id_new_password1" name="new_password1" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_new_password2">Επιβεβαίωση Νέου Κωδικού</label>
                        <input class="form-control" type="password" id="id_new_password2" name="new_password2" required="">
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button class="btn btn-style-1 btn-primary" type="submit">Αλλαγή κωδικού</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}