<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CityWaste</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/number_type.css' %}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <link rel="script" href="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"/>

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    {% if user.is_authenticated %}
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion toggled" id="accordionSidebar" style="background-color: #0F3143;">
            <br/>
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon">
                    <img id="top-logo" src="{% static 'media/city_waste2.png' %}" style="width: 120px; height: auto;" />
                </div>
            </a>
            <br/>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" style="margin: auto;" href="{% url 'index' %}" >
                    <i class="fas fa-fw fa-tachometer-alt" ></i>
                    <span>Αρχική</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Μενου
            </div>

            <!-- Nav Item - Data Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" style="margin: auto;" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Διαχείριση Δεδομένων</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Επιλογες:</h6>
                        <a class="collapse-item" href="{% url 'add_data' %}">Προσθήκη Δεδομένων</a>
                        <a class="collapse-item" href="{% url 'edit_data' %}">Επεξεργασία Δεδομένων</a>
                        <a class="collapse-item" href="{% url 'edit_data' %}">Εξαγωγή Δεδομένων</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="margin: auto;" href="{% url 'waste_table' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Πίνακας Δεδομένων</span></a>
            </li>

            <!-- Nav Item - Tools Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" style="margin: auto;" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Εργαλεία</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Επιλογες:</h6>
                        <a class="collapse-item" href="{% url 'predictions_home' %}">Προβλέψεις</a>
                        <a class="collapse-item" href="{% url 'manage_files' %}">Διαχείριση Αρχείων</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" style="margin: auto;" href="#" data-toggle="collapse" data-target="#collapseTypes"
                    aria-expanded="true" aria-controls="collapseTypes">
                    <i class="fas fa-fw fa-database"></i>
                    <span>Απόβλητα</span>
                </a>
                <div id="collapseTypes" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Επιλογες:</h6>
                        {% for i in wt %}
                        <a class="collapse-item" href="{% url 'waste_info' i.idwaste_translation %}">{{ i.waste_greek }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="margin: auto;" href="{% url 'route_data' %}">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Δεδομένα Δρομολογίων</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <li class="nav-item">
                <a class="nav-link" style="margin: auto;" href="{% url 'manual' %}">
                    <i class="fas fa-fw fa-question-circle"></i>
                    <span>Οδηγίες Χρήσης</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <!-- <button onclick="toggleLogo();" class="rounded-circle border-0" id="sidebarToggle"></button> -->
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            
            <br />
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-text mx-1">
                    <img src="{% static 'media/logo.png' %}" style="width: 90px; height: auto;" />
                </div>
            </a>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #0F3143; color: white;">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    
                    <div class="sidebar-brand-text mx-2"><h3>Σύστημα Συνεχούς Παρακολούθησης Δεδομένων Αποβλήτων</h3></div>
                    <!-- <img id="top-logo" src="{% static 'media/city_waste_icityops.png' %}" style="width: 100px; height: auto;" /> -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span
                                    class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.get_full_name }}</span>
                                    <i class="fas fa-chevron-circle-down fa-sm fa-fw mr-2 text-gray-400"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'user_profile' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Προφίλ
                                </a>
                                <a class="dropdown-item" href="{% url 'user_settings' %}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ρυθμίσεις
                                </a>
                                <a class="dropdown-item" href="{% url 'user_logs' %}">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Αρχείο Δραστηριοτήτων
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Αποσύνδεση
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                {% block content %}
                <!-- CODE GOES HERE -->
                {% endblock content %}
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; EvolutionProjects+ 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    {% else %}
    <meta http-equiv="refresh" content="0; URL={% url 'login' %}" />

    <body>
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>Σφάλμα πρόσβασης.</strong> Πρέπει πρώτα να συνδεθείτε στην πλατφόρμα.
        </div>
    </body>
    {% endif %}

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Αποσύνδεση</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Είστε σίγουροι ότι θέλετε να αποσυνδεθείτε ;</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Ακύρωση</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Αποσύνδεση</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <!-- <script>
        function toggleLogo() {
            var toplogo = document.getElementById('top-logo');

            if (toplogo.style.visibility == 'visible' || toplogo.style.visibility == '') {
                toplogo.style.visibility = 'hidden' ;
            }
            else {
                toplogo.style.visibility = 'visible';
            }
        }
    </script> -->
    
</body>




</html>