{% extends "main/base.html" %}
{% block content %}

<meta http-equiv="refresh" content="0; URL={% url 'index' %}" />

<div class="alert alert-success alert-dismissible fade show">
    <strong>Επιτυχία!</strong> Η εξαγωγή έγινε επιτυχώς.
</div>

{% endblock content %}