{% extends "main/base.html" %}
{% block content %}
{% load static %}

<!-- <link rel="stylesheet" href="{% static 'css/manual_style.css' %}"> -->
<!-- <script src="{% static 'js/manual.js' %}"></script> -->

<div class="container-fluid">
   <!-- Page Heading -->
   <h1 class="h3 mb-2 text-gray-800">Οδηγίες Χρήσης Συστήματος CityWaste</h1>
   <br />

  <p>
    Καλωσήρθατε στην σελίδα Οδηγιών Χρήσης του συστήματος CityWaste.
  </p>
  <p>
    Εδώ μπορείτε να βρείτε μια πλήρη αναφορά των λειτουργιών που προσφέρει το σύστημα, σύντομες οδηγίες για τον τρόπο εκπλήρωσεις διαφόρων διεργασιών, καθώς και λύσεις σε ορισμένα συχνά προβλήματα που μπορεί να προκύψουν από λανθασμένη χρήση του συστήματος.
    <br />
  </p>
  <p>
    Περιεχόμενα
  </p>
  <ul>
    <li>
      <a href="#h2_0">
        Λειτουργίες CityWaste
      </a>
    </li>
    <li>
      <a href="#h2_2">
        Προσθήκη Δεδομένων
      </a>
    </li>
    <li>
      <a href="#h2_3">
        Επεξεργασία και διαγραφή δεδομένων
      </a>
    </li>
    <li>
        <a href="#h2_4">
            Προβολή σύντομων στατιστικών αποβλήτων
        </a>
    </li>
    <li>
      <a href="#h2_4">
        Προβολή Δεδομένων ανά έτος
      </a>
    </li>
    <li>
      <a href="#h2_6">
        Προβολή Δεδομένων ανά είδος αποβλήτου
      </a>
    </li>
    <li>
      <a href="#h2_7">
        Προβολή και διαχείριση αποδεικτικών αρχείων
      </a>
    </li>
    <li>
        <a href="#h2_7">
          Προβλέψεις ΤΟΣΔΑ
        </a>
    </li>
    <li>
        <a href="#h2_7">
          Επαναφορά κωδικού πρόσβασης
        </a>
    </li>
    <li>
        <a href="#h2_7">
          Λύσεις σε συχνά προβλήματα
        </a>
    </li>        
  </ul>
<!-- 
  <h2 id="h2_0">
    Λειτουργίες CityWaste
  </h2>

  <p>
    To help you get started easier, we have prepared a set of help topics explaining how to perform the most typical operations in ClickHelp. Check the links below.
  </p>
  <ul>
    <li>
      Get Started
      <ul>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/basic-concepts" target="_blank" title="Basic concepts, terms and notions of ClickHelp">
            ClickHelp Basic Concepts
          </a>
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/typical-help-authoring-process" target="_blank" title="Typical Help Authoring Process in ClickHelp">
            Typical Help Authoring Process in ClickHelp
          </a>
        </li>
      </ul>
    </li>
    <li>
      Basic Tasks
      <ul>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/import-or-use-project-template" target="_blank" title="Starting a new project in ClickHelp - CHM or template">New Project: Import CHM or Use a Template</a>
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/insert-images" target="_blank" title="Inserting images to help topics">
            Inserting images to help topics
          </a>
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/insert-links" target="_blank" title="Inserting links to help topics">
            Inserting links to help topics
          </a>
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/arrange-topics-in-table-of-contents" target="_blank" title="Manage the table of contents elements">
            Arrange Topics in Table of Contents
          </a>
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/publish-online-manual" target="_blank" title="Publishing your user manual on the Internet">
            Publish User Manual
          </a>
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/link-to-your-documentation-portal" target="_blank" title="Create links to your online documentation portal">
            Link to Your Documentation Portal
          </a>
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/create-a-pdf-manual" target="_blank" title="Create a PDF version of a user manual">
            Create a PDF Version of a User Manual
          </a>
        </li>
      </ul>
    </li>
    <li>
      Single-Sourcing Techniques
      <ul>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/share-content-among-topics" target="_blank" title="Re-using content by sharing it among topics">
            Share Content Among Topics
          </a>
          <br />
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/typical-conditional-content" target="_blank" title="Using conditional content in help topics">Conditional Content </a>
          <br />
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/use-variables-in-text" target="_blank" title="Use variables in the topic text">

            Use Variables in Text
          </a>
        </li>
      </ul>
    </li>
    <li>
      Administration and Workflow
      <ul>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/create-user-account" target="_blank" title="Creating a new user account in ClickHelp">
            Create a New Account 
          </a>
          <br />
        </li>
        <li>
          <a href="http://doc.clickhelp.co/articles/clickhelp-documentation/view-topics-assigned-to-me" target="_blank" title="View topics assigned to me">
            View Topics Assigned to Me 
          </a>
          <br />
        </li>
      </ul>
    </li>
  </ul>


  <h2 id="h2_1">Screenshots</h2>
  <p>
    When inserting images to a help topic, you may want them to have borders or shading, align them to the left or right, etc. The majority of these settings can be specified in the
    <b>
      Insert Image
    </b>
    dialog - you can open it by clicking Image on the Insert toolbar, and then clicking the
    <b>
      Show options
    </b>link. In addition to various image settings, you can also specify a CSS class name that should be applied to the image. Defining classes in the project CSS file is a more scalable approach, since you can apply the same class to multiple images to be able to change the style in a centralized manner later.
  </p>
  <p>Below, you can find an example of a bigger screenshot aligned to the center. Click the image to open it in the full size. And, double-click the screenshot in the editing mode to open its properties or to replace it with some other image.</p>
  <div style="text-align: center;"><a href="Images/statistics.png"><img class="screenshot" src="Images/statistics.png" alt="Statistics" style="width: 700px; height: 461px;" /></a></div><br />
  <h2 id="h2_2">
    List Styles
  </h2>
  <p>
    You can create both bulleted and numbered lists easily with the WYSIWYG
    HTML editor. The editor also provides the following features:
  </p>
  <ul>
    <li>
      Assign styles.
    </li>
    <li>Images and links can be inserted and changed in documents visually.<br /></li>
    <li>Insert videos, Flash movies, navigational elements, ready boxes and more - check the <b>Insert</b> tab on the ribbon.</li>
    <li>Work with tables easily - add/remove rows, cells and columns, merge and split them, change their properties, etc.</li>
    <li>Use variables, conditional content blocks and snippets - see the <b>Single-Sourcing</b> tab.</li>
    <li>
      Paste content from MS Word.
    </li>
    <li>
      Multiple undo/redo operations.
    </li>
    <li>
      Automatic changes saving to the server.
    </li>
    <li>
      Full-screen mode.
    </li>
  </ul>
  <p>
    Besides, the editor allows editing the HTML source. The advanced code editor's features include:
  </p>
  <ol>
    <li>
      Autocompletion with short inline references on CSS properties,
      HTML tags and JavaScript objects - all you need to know to write the code without having a web reference opened in another browser tab.
    </li>
    <li>
      Syntax highlighting.
    </li>
    <li>
      Multiple undo/redo operations.
    </li>
    <li>
      Automatic changes saving to the server.
    </li>
    <li>
      Full-screen mode.
    </li>
    <li>
      Search/replace feature with all matches highlighting.
    </li>
    <li>
      Automatic code indentation and highlighting (really useful when you need to make some auto-generated or obfuscated code human-readable).
    </li>
    <li>
      Line numbers.
    </li>
  </ol>


  <h2 id="h2_3">
    Information Boxes
  </h2>
  <p>
    Sometimes, it's necessary to highlight some important points, warn about
    something or simply provide some additional information in a highly visible form. You can use
    the  ready information boxes - check the
    <b>
      Boxes
    </b>
    group of the
    <b>
      Insert
    </b>
    ribbon tab.
  </p>
  <p>
    This is an information box:
  </p>
  <table class="infoBox" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="infoBoxImageCell">
          <img alt="Information" src="Images/info.png" />
        </td>
        <td class="infoBoxText">
          Your information text here.
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    And here is a warning box:
  </p>
  <table class="warningBox" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="warningBoxImageCell">
          <img alt="Warning" src="Images/warning.png" />
        </td>
        <td class="warningBoxText">
          Your warning text here.
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    And here is an expandable box - note that it looks differently in the editing and reading mode:
  </p>

<div>
  <div class="nonPrintable" style="margin-top: 10px; margin-bottom: 10px; cursor: pointer; display:table" onclick="toggleBox(this)">
    [+]
    <a href="javascript:void(0)">
      Show More
    </a>
  </div>
  <div class="Article_hiddenBlock nonPrintable" style="margin-top: 10px; margin-bottom: 10px; cursor: pointer; display:table" onclick="toggleBox(this)">
    [-]
    <a href="javascript:void(0)">
      Hide
    </a>
  </div>
  <div class="Article_hiddenBlock" style="padding-left: 20px">
    Put here the text for your expandable block. Scripts are disabled in the editing mode,
    so click
    <strong>
      "Unlock &amp; View"
    </strong>
    to see the box in action.
    <br />
    You can also edit the text for the "Show More" and "Hide" elements.
  </div>
</div>


  <h2 id="h2_4">
    Tables
  </h2>
  <p>
    You can find some useful HTML table samples below. Yes, our WYSIWYG HTML
    editor does provide support for tables editing. There's a whole bunch
    of features - just switch to the <b>Table</b> tab of the ribbon.
  </p>



  <h2 id="h2_6">
    Using External Fonts
  </h2>
  <p>
    ClickHelp allows you to use dozens of fonts out of box. If you feel like this is not enough, use any online fonts resources you like. Some fonts we use in our templates are retrieved from <a title="Google Web Fonts (opens in a new window)" target="_blank" href="http://www.google.com/webfonts">
      Google Web Fonts
    </a>- a free resource with tons of pretty fonts stored there. To see how fonts are referenced, click the
    <b>
      Styles | Open for Editing... 
    </b>button on the
    <b>
      Home
    </b>
    tab. In the styles file, look for the font-family property or the font-face rule which is used for online fonts. 
  </p>
  <p>
    In addition to using fonts located on third-party websites, you can also put the font file to your ClickHelp File Storage and reference it in your style definitions.
  </p>
  <p>
    As you see, it does not matter where the font is actually stored - web browsers treat it in the same manner.
  </p>


  <h2 id="h2_7">
    FAQ Example
  </h2>
  <p>
    In your documentation, you may want to create the Q&amp;A section to highlight the most important facts. Here is an example of a Question-Answer pair design, which can be used in your documentation:
  </p>

  <p class="faqQuestionText">
    <b>
      Q:
    </b>
    How can I create an FAQ entry with ClickHelp?
  </p>
  <p class="faqAnswer">
    A:
    It's easy. First of all, decide if you want one TOC entry per question, or if you would like to have one topic per FAQ category containing many questions. The former approach is good when the answer text is long and self-contained; the latter approach fits the situation when the answers are short and some of them are tightly related to each other. When you have made this decision, go ahead and create the TOC structure you need, then start writing the contents using this Q&amp;A pair as a template - copy&amp;paste it to your topics. If you would like to change the style a little bit, open the project style file and find the FAQ section in it.
  </p>
  <br />-->

</div>

<script type="text/javascript">
  if (window['initFooter']) {
    initFooter();
  }
</script>

{% endblock content %}