<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load humanize %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Σύστημα Παρακολούθησης Αποβλήτων</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/number_type.css' %}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <link rel="script" href="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"/>

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <!-- <script src="{% static 'js/jspdf.umd.min.js' %}"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="{% static 'js/LiberationSerif-Regular-normal.js' %}"></script>



    <style type="text/css">
        @media print {
            #printbtn {
                display :  none;
            }
        }

        @media print {
            #pdfbtn {
                display :  none;
            }
        }

        @media print {
            #xlbtn {
                display :  none;
            }
        }
        </style>

</head>

<script>
    // function toPDF() {
    //     var doc = new jsPDF();          
    //     var elementHandler = {
    //         '#ignorePDF': function (element, renderer) {
    //             return true;
    //         }
    //     };
        
    //     doc.setFont('LiberationSerif-Regular');
    //     var source = window.document.getElementsByTagName("body")[0];
    //     doc.fromHTML(source,10,10, {
    //         'width': 180,'elementHandlers': elementHandler
    //     });

    //     doc.save('data_export.pdf');
    // };

    function toXL() {
        
    }
</script>

<body id="page-top">
    <div class="card shadow mb-4" id="ignorePDF">
        <div class="card-body">
            <button type="button" id="printbtn" onclick="location.href = '{% url 'index' %}' ;" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-home fa-sm text-white-50"></i>
                </span>
                <span class="text">Επιστροφή στην αρχική</span>
            </button>

            <button type="button" id="printbtn" onclick="window.print()" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-print fa-sm text-white-50"></i>
                </span>
                <span class="text">Εκτύπωση</span>
            </button>
            <button type="button" id="xlbtn" onclick="toXL();" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel fa-sm text-white-50"></i>
                </span>
                <span class="text">Εξαγωγή σε Excel</span>
            </button>
            <button type="button" id="pdfbtn" onclick="window.print()" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-file-pdf fa-sm text-white-50"></i>
                </span>
                <span class="text">Εξαγωγή σε PDF</span>
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Page Heading -->
        <p class="mb-4"></p>

        {%if data %}
        <h1 class="h3 mb-2 text-gray-800">Δεδομένα Αποβλήτων</h1>
        <p class="mb-4"></p>

        {% for y, d in data.items %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ y }}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Είδος</th>
                                <th>Βάρος (kg)</th>
                                <th>Ημερομηνία Καταγραφής</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in d %}
                            <tr>
                                <td>{{ i.waste_type }}</td>
                                <td>{{ i.waste_kg | intcomma }}</td>
                                <td>{{ i.date_added }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if b_data %}
        <h1 class="h3 mb-2 text-gray-800">Δεδομένα Κάδων Αποβλήτων</h1>
        <p class="mb-4"></p>

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="bucketTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Είδος</th>
                                <th>Αριθμός</th>
                                <th>Τελευταία Ενημέρωση</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in b_data %}
                            <tr>
                                <td>{{ i.waste_type }}</td>
                                <td>{{ i.buckets_num }}</td>
                                <td>{{ i.last_update }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>