{% extends "main/base.html" %}
{% block content %}

<div class="container col-xl-6 mt-5">
    <div class="row">
        <!-- waste data form --> 
        <div class="col-lg-12 pb-5">
            <div class="card shadow mb-4">
                <a href="#collapseDataForm" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseDataForm">
                    <h6 class="m-0 font-weight-bold text-primary">Προσθήκη Δεδομένων Αποβλήτων</h6>
                </a>

                <div class="collapse hidden" id="collapseDataForm">
                    <div class="card-body">
                        <form class="row" method="post" action="{% url 'submit_data' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="data-type">Είδος</label>
                                    <select class="form-control" name="data-type" id="data-type" required="">
                                        {% for t in wt %}
                                        <option value="{{ t.waste_greek }}">{{ t.waste_greek }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="data-kg">Βάρος (kg)</label>
                                    <input class="form-control" type="number" step=0.01 id="data-kg" name="data-kg"
                                        required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="data-date">Ημερομηνία Καταγραφής</label>
                                    <input class="form-control" type="date" id="data-date" name="data-date" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bucket-type">Αποδεικτικό</label>
                                    <input type="file" id="data-file" name="data-file">
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-3">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <button class="btn btn-style-1 btn-primary" type="submit" onclick="openModal();">Προσθήκη Δεδομένων</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- waste buckets form -->
        <div class="col-lg-12 pb-5">
            <div class="card shadow mb-4">
                <a href="#collapseBucketForm" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseBucketForm">
                    <h6 class="m-0 font-weight-bold text-primary">Προσθήκη Δεδομένων Kάδων Αποβλήτων</h6>
                </a>

                <div class="collapse hide" id="collapseBucketForm">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Προσθήκη Κάδων</h6>
                    </div>
                    <div class="card-body">
                        <form class="row" method="post" action="{% url 'submit_bucket_add' %}">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bucket-type">Είδος</label>
                                    <select class="form-control" name="bucket-type-add" id="bucket-type-add" required="">
                                        <option disabled selected value></option>
                                        {% for t in wt %}
                                        <option value="{{ t.waste_greek }}">{{ t.waste_greek }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bucket-num">Αριθμός Κάδων</label>
                                    <input class="form-control" type="number" id="bucket-num-add" name="bucket-num-add"
                                       placeholder="" value="" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bucket-date">Ημερομηνία Μεταβολής</label>
                                    <input class="form-control" type="date" placeholder="dd-mm-yyyy" min="1997-01-01"
                                        max="2030-12-31" id="bucket-date-add" name="bucket-date-add" required="">
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-3">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <button class="btn btn-style-1 btn-primary" type="submit" data-toast=""
                                        data-toast-position="topRight" data-toast-type="success"
                                        data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                        data-toast-message="Eπιτυχία προσθήκης !">Προσθήκη Κάδων</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Αφαίρεση Κάδων</h6>
                    </div>
                    <div class="card-body">
                        <form class="row" method="post" action="{% url 'submit_bucket_rem' %}">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bucket-type">Είδος</label>
                                    <select class="form-control" name="bucket-type-rem" id="bucket-type-rem" required="">
                                        <option disabled selected value></option>
                                        {% for t in wt %}
                                        <option value="{{ t.waste_greek }}">{{ t.waste_greek }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bucket-num">Αριθμός Κάδων</label>
                                    <input class="form-control" type="number" id="bucket-num-rem" name="bucket-num-rem"
                                    placeholder="" value="" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bucket-date">Ημερομηνία Μεταβολής</label>
                                    <input class="form-control" type="date" placeholder="dd-mm-yyyy" min="1997-01-01"
                                        max="2030-12-31" id="bucket-date-rem" name="bucket-date-rem" required="">
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-3">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <button class="btn btn-style-1 btn-primary" type="submit" data-toast=""
                                        data-toast-position="topRight" data-toast-type="success"
                                        data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                        data-toast-message="Eπιτυχία προσθήκης !">Αφαίρεση Κάδων</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- files form -->
        <div class="col-lg-12 pb-5">
            <div class="card shadow mb-4">
                <a href="#collapseFileForm" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseFileForm">
                    <h6 class="m-0 font-weight-bold text-primary">Προσθήκη Δεδομένων από Excel</h6>
                </a>

                <div class="collapse hide" id="collapseFileForm">
                    <div class="card-body">
                        <form class="row" method="post" action="{% url 'submit_file' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="file-data">Αρχείο Excel</label>
                                    <input type="file" id="file-data" name="file-data" required="">
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-3">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <button class="btn btn-style-1 btn-primary" type="submit">Προσθήκη Αρχείου</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- new  waste type form -->
        <div class="col-lg-12 pb-5">
            <div class="card shadow mb-4">
                <a href="#collapseTypeForm" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseTypeForm">
                    <h6 class="m-0 font-weight-bold text-primary">Προσθήκη Νέας Κατηγορίας</h6>
                </a>

                <div class="collapse hide" id="collapseTypeForm">
                    <div class="card-body">
                        <em>Για την βέλτιστη συμπεριφορά του συστήματος, ακολουθήστε τις οδηγίες.</em>
                        <p><br /></p>
                        <form class="row" method="post" action="{% url 'submit_new_type' %}">
                            {% csrf_token %}
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="waste-type">Όνομα νέας κατηγορίας με τόνους (πχ. Ανακυκλώσιμα)</label>
                                    <input type="text" id="new-type-pun" class="form-control" name="new-type-pun" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="waste-type">Όνομα νέας κατηγορίας χωρίς τόνους (πχ. Ανακυκλωσιμα)</label>
                                    <input type="text" id="new-type-non-pun" class="form-control" name="new-type-non-pun" required="">
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-3">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <button class="btn btn-style-1 btn-primary" type="submit">Προσθήκη Κατηγορίας</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("bucket-type-add").addEventListener("change", getBucketNumAdd);

    function getBucketNumAdd() {
        $.ajax({
            url: '{% url 'get_bucket_num' %}',
            method: 'POST',
            data: { bucket_type: document.getElementById("bucket-type-add").value, csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (result) {
                $("#bucket-num-add").val(result["bucketnum"]);
                $("#bucket-num-add").attr('placeholder', result["bucketnum"]);
            },
            error: function (result) {
                // document.getElementById("statusMsgED").innerHTML = "<p style='color:red;'>Αποτυχία</p>";
            }
        });
    }

    document.getElementById("bucket-type-rem").addEventListener("change", getBucketNumRem);

    function getBucketNumRem() {
        $.ajax({
            url: '{% url 'get_bucket_num' %}',
            method: 'POST',
            data: { bucket_type: document.getElementById("bucket-type-rem").value, csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (result) {
                $("#bucket-num-rem").val(result["bucketnum"]);
                $("#bucket-num-rem").attr('placeholder', result["bucketnum"]);
            },
            error: function (result) {
                // document.getElementById("statusMsgED").innerHTML = "<p style='color:red;'>Αποτυχία</p>";
            }
        });
    }

</script>

<div class="modal" tabindex="-1" role="dialog" id="uploadModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Προσθήκη νέων δεδομένων</h5>
        </div>
        <div class="modal-body" style="text-align: center;">
          <div class="spinner-border text-primary" style="font-size:36px; width:150px; height:150px"></div>
          <br>
          <br>
          <br>
          <h3> Παρακαλώ περιμένετε...</h3>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openModal() {
        //$('#uploadModal').modal('show');
        $('#uploadModal').modal({
            backdrop: 'static',
            keyboard: false
        })
    }
  </script>

{% endblock content %}