{% extends "main/base.html" %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Πληροφορίες για Μπάζα ΑΕΚΚ</h1>
        {% comment %} <a href="export_data/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Εξαγωγή Αναφοράς</a> {% endcomment %}
    </div>

    <!-- Chart 2020 per month -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body" style="cursor: pointer;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Συνολο Μπαζων ΑΕΚΚ 2020
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">956 kg
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-auto">
                            <i class="fas fa-dumpster fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseChart2020_month" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseChart2020_month">
                    <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2020 ανά Μήνα</h6>
                </a>

                <!-- Card Body -->
                <div class="collapse show" id="collapseChart2020_month">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="Chart2020_month"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Chart 2020 per week -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseChart2020_week" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseChart2020_week">
                    <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2020 ανά Εβδομάδα</h6>
                </a>

                <!-- Card Body -->
                <div class="collapse show" id="collapseChart2020_week">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="Chart2020_week"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var chartOptions = {
        maintainAspectRatio: false,
        layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
        },
        scales: {
            xAxes: [{
                time: {
                    unit: 'date'
                },
                gridLines: {
                    display: false,
                    drawBorder: false
                },
                ticks: {
                    maxTicksLimit: 6
                }
            }],
            yAxes: [{
                ticks: {
                    maxTicksLimit: 5,
                    padding: 10,
                },
                gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                }
            }],
        },
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
        }
    };

    var ctx2020_month = document.getElementById('Chart2020_month').getContext('2d');

    var chartData2020 = {
        labels: {{ months| safe}},
    datasets: [{
        label: 'Σύμμεικτα',
        backgroundColor: "rgba(102, 204, 0)",
        borderColor: "rgba(102, 204, 0)",
        data: {{ gw_20 }},
            }]
        };

    var chart2020_month = new Chart(ctx2020_month, {
        type: 'bar',
        data: chartData2020,
        options: chartOptions
    });

    var ctx2020_week = document.getElementById('Chart2020_week').getContext('2d');

    var chartData2020_week = {
        labels: {{ weeks_20| safe}},
    datasets: [{
        label: 'Σύμμεικτα',
        backgroundColor: "rgba(51, 153, 255)",
        borderColor: "rgba(51, 153, 255)",
        data: {{ gw_20_weekly }},
            }]
        };

    var chart2020_week = new Chart(ctx2020_week, {
        type: 'bar',
        data: chartData2020_week,
        options: chartOptions
    });

</script>

{% endblock content %}