<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CityWaste</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                </div>
                <div class="sidebar-brand-text mx-3">Συστημα Συνεχούς Παρακολούθησης Δεδομένων Αποβλητων</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Αρχική</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Μενου
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Διαχείρηση Δεδομένων</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Επιλογες:</h6>
                        <a class="collapse-item" href="add_data">Προσθήκη Νέων</a>
                        <a class="collapse-item" href="edit_data">Επεξεργασία Υπάρχοντων</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Εργαλεία</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Επιλογες:</h6>
                        <a class="collapse-item" href="utilities-color.html">Εργαλείο 1</a>
                        <a class="collapse-item" href="utilities-color.html">Εργαλείο 2</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHelp"
                    aria-expanded="true" aria-controls="collapseHelp">
                    <i class="fas fa-fw fa-question"></i>
                    <span>Οδηγίες χρήσης</span>
                </a>
                <div id="collapseHelp" class="collapse" aria-labelledby="headingHelp" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Επιλογες:</h6>
                        <a class="collapse-item" href="add_data_help.html">Εισαγωγή Δεδομένων</a>
                        <a class="collapse-item" href="edit_data_help.html">Επεξεργασία Δεδομένων</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.get_username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="profile/">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Προφίλ
                                </a>
                                <a class="dropdown-item" href="settings/">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ρυθμίσεις
                                </a>
                                <a class="dropdown-item" href="log/">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Αρχείο Δραστηριοτήτων
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Αποσύνδεση
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Πληροφορίες για Σύμμεικτα Απόβλητα</h1>
                        <a href="export_data/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Εξαγωγή Αναφοράς</a>
                    </div>

                    <!-- Chart 2020 per month -->
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body" style="cursor: pointer;">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Συνολο Συμμεικτων 2020
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">956 kg
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-auto">
                                            <i class="fas fa-trash fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-8">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseChart2020_month" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseChart2020_month">
                                    <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2020 ανά Μήνα</h6>
                                </a>

                                <!-- Card Body -->
                                <div class="collapse show" id="collapseChart2020_month">
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="Chart2020_month"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Chart 2020 per week -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-8">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseChart2020_week" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseChart2020_week">
                                    <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2020 ανά Εβδομάδα</h6>
                                </a>

                                <!-- Card Body -->
                                <div class="collapse show" id="collapseChart2020_week">
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="Chart2020_week"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <a href="#collapseOldData" class="d-block card-header py-3" data-toggle="collapse" role="button"
                            aria-expanded="true" aria-controls="collapseOldData">
                            <h6 class="m-0 font-weight-bold text-primary">Δεδομένα Παλαιών Ετών</h6>
                        </a>
                    </div>

                    <div class="collapse hide" id="collapseOldData">

                        <!-- Chart 2016 -->
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body" style="cursor: pointer;">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Συνολο
                                                    Συμμεικτων 2016</div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">956 kg
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <i class="fas fa-trash fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Area Chart -->
                            <div class="col-xl-12 col-lg-8">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Accordion -->
                                    <a href="#collapseChart2016" class="d-block card-header py-3" data-toggle="collapse"
                                        role="button" aria-expanded="true" aria-controls="collapseChart2016">
                                        <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2016 ανά Μήνα</h6>
                                    </a>

                                    <!-- Card Body -->
                                    <div class="collapse hide" id="collapseChart2016">
                                        <div class="card-body">
                                            <div class="chart-area">
                                                <canvas id="Chart2016"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Chart 2017 -->
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body" style="cursor: pointer;">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Συνολο
                                                    Συμμεικτων 2017</div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">956 kg
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <i class="fas fa-trash fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Area Chart -->
                            <!-- Area Chart -->
                            <div class="col-xl-12 col-lg-8">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Accordion -->
                                    <a href="#collapseChart2017" class="d-block card-header py-3" data-toggle="collapse"
                                        role="button" aria-expanded="true" aria-controls="collapseChart2017">
                                        <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2017 ανά Μήνα</h6>
                                    </a>

                                    <!-- Card Body -->
                                    <div class="collapse hide" id="collapseChart2017">
                                        <div class="card-body">
                                            <div class="chart-area">
                                                <canvas id="Chart2017"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Chart 2018 -->
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body" style="cursor: pointer;">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Συνολο
                                                    Συμμεικτων 2018</div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">956 kg
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <i class="fas fa-trash fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Area Chart -->
                            <div class="col-xl-12 col-lg-8">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Accordion -->
                                    <a href="#collapseChart2018" class="d-block card-header py-3" data-toggle="collapse"
                                        role="button" aria-expanded="true" aria-controls="collapseChart2018">
                                        <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2018 ανά Μήνα</h6>
                                    </a>

                                    <!-- Card Body -->
                                    <div class="collapse hide" id="collapseChart2018">
                                        <div class="card-body">
                                            <div class="chart-area">
                                                <canvas id="Chart2018"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Chart 2019 -->
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body" style="cursor: pointer;">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Συνολο
                                                    Συμμεικτων 2019</div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">956 kg
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <i class="fas fa-trash fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Area Chart -->
                            <!-- Area Chart -->
                            <div class="col-xl-12 col-lg-8">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Accordion -->
                                    <a href="#collapseChart2019" class="d-block card-header py-3" data-toggle="collapse"
                                        role="button" aria-expanded="true" aria-controls="collapseChart2019">
                                        <h6 class="m-0 font-weight-bold text-primary">Δεδομένα 'Ετους 2019 ανά Μήνα</h6>
                                    </a>

                                    <!-- Card Body -->
                                    <div class="collapse hide" id="collapseChart2019">
                                        <div class="card-body">
                                            <div class="chart-area">
                                                <canvas id="Chart2019"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; EvolutionProjects+ 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Αποσύνδεση</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Είστε σίγουροι ότι θέλετε να αποσυνδεθείτε ;</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Ακύρωση</button>
                    <a class="btn btn-primary" href="login/">Αποσύνδεση</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script>
        var ctx2016 = document.getElementById('Chart2016').getContext('2d');

        var chartOptions = {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10,
            }
        };

        var chartData2016 = {
            labels: {{ months| safe}},
        datasets: [{
            label: 'Σύμμεικτα',
            backgroundColor: "rgba(102, 204, 0)",
            borderColor: "rgba(102, 204, 0)",
            data: {{ gw_16 }},
                }]
        };

        var chart2016 = new Chart(ctx2016, {
            type: 'bar',
            data: chartData2016,
            options: chartOptions
        });

        var ctx2017 = document.getElementById('Chart2017').getContext('2d');

        var chartData2017 = {
            labels: {{ months| safe}},
        datasets: [{
            label: 'Σύμμεικτα',
            backgroundColor: "rgba(102, 204, 0)",
            borderColor: "rgba(102, 204, 0)",
            data: {{ gw_17 }},
            }]
        };

        var chart2017 = new Chart(ctx2017, {
            type: 'bar',
            data: chartData2017,
            options: chartOptions
        });

        var ctx2018 = document.getElementById('Chart2018').getContext('2d');

        var chartData2018 = {
            labels: {{ months| safe}},
        datasets: [{
            label: 'Σύμμεικτα',
            backgroundColor: "rgba(102, 204, 0)",
            borderColor: "rgba(102, 204, 0)",
            data: {{ gw_18 }},
            }]
        };

        var chart2018 = new Chart(ctx2018, {
            type: 'bar',
            data: chartData2018,
            options: chartOptions
        });

        var ctx2019 = document.getElementById('Chart2019').getContext('2d');

        var chartData2019 = {
            labels: {{ months| safe}},
        datasets: [{
            label: 'Σύμμεικτα',
            backgroundColor: "rgba(102, 204, 0)",
            borderColor: "rgba(102, 204, 0)",
            data: {{ gw_19 }},
            }]
        };

        var chart2019 = new Chart(ctx2019, {
            type: 'bar',
            data: chartData2019,
            options: chartOptions
        });

        var ctx2020_month = document.getElementById('Chart2020_month').getContext('2d');

        var chartData2020 = {
            labels: {{ months| safe}},
        datasets: [{
            label: 'Σύμμεικτα',
            backgroundColor: "rgba(102, 204, 0)",
            borderColor: "rgba(102, 204, 0)",
            data: {{ gw_20 }},
            }]
        };

        var chart2020_month = new Chart(ctx2020_month, {
            type: 'bar',
            data: chartData2020,
            options: chartOptions
        });

        var ctx2020_week = document.getElementById('Chart2020_week').getContext('2d');

        var chartData2020_week = {
            labels: {{ weeks_20| safe}},
        datasets: [{
            label: 'Σύμμεικτα',
            backgroundColor: "rgba(51, 153, 255)",
            borderColor: "rgba(51, 153, 255)",
            data: {{ gw_20_weekly }},
            }]
        };

        var chart2020_week = new Chart(ctx2020_week, {
            type: 'bar',
            data: chartData2020_week,
            options: chartOptions
        });

    </script>
</body>

</html>