{% extends "main/base.html" %}
{% block content %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Προβολή και Επεξεργασία Δεδομένων Αποβλήτων</h1>
    <br />
    <div class="row">
        {% for d in wd %}
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ d.type }}</h6>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover display" id="waste_data_{{d.id}}" class="display"
                            style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Επιλογές</th>
                                    <th>Είδος</th>
                                    <th>Κιλά</th>
                                    <th>Ημερομηνία</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in d.data %}
                                <tr>
                                    <td><button type="button" class="btn btn-warning btn-circle btn-sm" name="btn2"
                                            title="Τροποποίηση" value="{{ i.idwaste_data }}"
                                            onclick="editDataButton(this)"><i class="fas fa-pencil-alt"></i></button>
                                        <button type="button" class="btn btn-danger btn-circle btn-sm" title="Διαγραφή"
                                            value="{{ i.idwaste_data }}" onclick="deleteDataButton(this)"><i
                                                class="fas fa-trash"></i></button></td>
                                    <td>{{ i.waste_type }}</td>
                                    <td>{{ i.waste_kg }}</td>
                                    <td>{{ i.date_added|date:"Y/m/d" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <script>
                            function createDataTable() {
                                var table = $('#waste_data_{{d.id}}').DataTable({
                                    dom: 'Blfrtip',
                                    buttons: [
                                    'copy', 'csv', 'excel', 'pdf', 'print'
                                    ]
                                }); 
                            }

                            createDataTable();
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Δεδομένα Κάδων</h6>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="waste_buckets" class="table table-bordered table-hover display" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Επιλογές</th>
                                    <th>Είδος</th>
                                    <th>Αριθμός Κάδων</th>
                                    <th>Τελευταία Τροποποίηση</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for b in wb %}
                                <tr>
                                    <td><button type="button" class="edit btn btn-warning btn-circle btn-sm"
                                            title="Τροποποίηση" value="{{ b.idwaste_buckets }}"
                                            onclick="editBucketButton(this)"><i class="fas fa-pencil-alt"></i></button>
                                        <button type="button" class="delete btn btn-danger btn-circle btn-sm"
                                            title="Διαγραφή" value="{{ b.idwaste_buckets }}"
                                            onclick="deleteBucketButton(this)"><i class="fas fa-trash"></i></button>
                                    </td>
                                    <td id="type">{{ b.waste_type }}</td>
                                    <td id="num">{{ b.buckets_num }}</td>
                                    <td id="date">{{ b.last_update }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- Edit Data Modal -->
<div class="modal fade" id="editDataModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Τροποποίηση Δεδομένων</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            
            <form id="modal-data" class="row">
                <div class="modal-body">
                    <input type="hidden" name="data-id" id="data-id" value="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Είδος</label>
                            <input type="text" placeholder=""  name="data-type" id="data-type">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Κιλά</label>
                            <input type="text" placeholder="" name="data-kg" id="data-kg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ημερομηνία</label>
                            <input type="date" placeholder="" name="data-date" id="data-date">
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <button class="btn btn-style-1 btn-warning" onclick="updateData()" type="button" data-toast=""
                                data-toast-position="topRight" data-toast-type="success"
                                data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                data-toast-message="Eπιτυχία προσθήκης !">Τροποποίηση</button>
                        </div>
                        <br/>
                        <div id="statusMsgED"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Bucket Modal -->
<div class="modal fade" id="editBucketModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Τροποποίηση Δεδομένων</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <input type="hidden" name="bucket-id" id="bucket-id" value="">
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Είδος</label>
                        <input type="text" placeholder="" id="bucket-type" name="bucket-type">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Αριθμός Κάδων</label>
                        <input type="text" placeholder="" id="bucket-num" name="bucket-num">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Τελευταία Τροποποίηση</label>
                        <input type="date" placeholder="" id="bucket-date" name="bucket-date">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <button class="btn btn-style-1 btn-warning" name="btn1" onclick="updateBucket()" type="button" data-toast=""
                                data-toast-position="topRight" data-toast-type="success"
                                data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                data-toast-message="Eπιτυχία προσθήκης !">Τροποποίηση</button>
                        </div>
                        <br/>
                        <div id="statusMsgEB"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete Data Modal -->
<div class="modal fade" id="deleteDataModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Διαγραφή Δεδομένων</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <input type="hidden" name="data-id" id="data-id" value="">
            <div class="modal-body">
                <div class="col-md-6">
                    <p>Είστε σίγουρος ότι θέλετε να διαγράψετε τα δεδομένα ;</p>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button class="btn btn-style-1 btn-danger" onclick="deleteData()" type="button" data-toast=""
                            data-toast-position="topRight" data-toast-type="success"
                            data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                            data-toast-message="Eπιτυχία προσθήκης !">Διαγραφή</button>
                    </div>
                    <br/>
                    <div id="statusMsgDD"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Delete Bucket Modal -->
<div class="modal fade" id="deleteBucketModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Διαγραφή Δεδομένων</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <input type="hidden" name="bucket-id" id="bucket-id" value="">
            <div class="modal-body">
                <div class="col-md-6">
                    <p>Είστε σίγουρος ότι θέλετε να διαγράψετε τα δεδομένα ;</p>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button class="btn btn-style-1 btn-danger" onclick="deleteBucket()" type="button" data-toast=""
                            data-toast-position="topRight" data-toast-type="success"
                            data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                            data-toast-message="Eπιτυχία προσθήκης !">Διαγραφή</button>
                    </div>
                    <br/>
                    <div id="statusMsgDB"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateData(){
        $.ajax({
            url: '{% url 'update_data' %}',
            method: 'POST',
            data: { data_id: document.getElementById('data-id').value, data_date: document.getElementById('data-date').value, data_kg: document.getElementById('data-kg').value, csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (result) {
                document.getElementById("statusMsgED").innerHTML = "<p style='color:green;'>Επιτυχία</p>";
                location.reload();
            },
            error: function (result) {
                document.getElementById("statusMsgED").innerHTML = "<p style='color:red;'>Αποτυχία</p>";
            }
        });
    }

    function updateBucket(){
        $.ajax({
            url: '{% url 'update_bucket' %}',
            method: 'POST',
            data: { bucket_id: document.getElementById('bucket-id').value, bucket_date: document.getElementById('bucket-date').value, bucket_num: document.getElementById('bukcet-num').value, csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (result) {
                document.getElementById("statusMsgEB").innerHTML = "<p style='color:green;'>Επιτυχία</p>";
                location.reload();
            },
            error: function (result) {
                document.getElementById("statusMsgEB").innerHTML = "<p style='color:red;'>Αποτυχία</p>";
            }
        });
    }

    function deleteData(){
        $.ajax({
            url: '{% url 'delete_data' %}',
            method: 'POST',
            data: { data_id: document.getElementById('data-id').value, csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (result) {
                document.getElementById("statusMsgDD").innerHTML = "<p style='color:green;'>Επιτυχία</p>";
                location.reload();
            },
            error: function (result) {
                document.getElementById("statusMsgDD").innerHTML = "<p style='color:red;'>Αποτυχία</p>";
            }
        });
    }

    function deleteBucket(){
        $.ajax({
            url: '{% url 'delete_bucket' %}',
            method: 'POST',
            data: { bucket_id: document.getElementById('bucket-id').value, csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (result) {
                document.getElementById("statusMsgDB").innerHTML = "<p style='color:green;'>Επιτυχία</p>";
                location.reload();
            },
            error: function (result) {
                document.getElementById("statusMsgDB").innerHTML = "<p style='color:red;'>Αποτυχία</p>";
            }
        });
    }

    function getDatabyID(id) {
        $.ajax({
            url: '{% url 'edit_waste_data' %}',
            method: 'POST',
            data: { data_id: id.value },
            success: function (result) {
                var instance = JSON.parse(result["instance"]);
                var fields = instance[0]["fields"];
                $("#data-id").val(result["wasteid"]);
                $("#data-type").val(fields["waste_type"]);
                $("#data-kg").val(fields["waste_kg"]);
                $("#data-date").val(fields["date_added"]);
            },
            error: function (result) {
                alert("error");
            }
        });
    }

    function getBucketbyID(id) {
        $.ajax({
            url: '{% url 'edit_waste_bucket' %}',
            method: 'POST',
            data: { bucket_id: id.value },
            success: function (result) {
                var instance = JSON.parse(result["instance"]);
                var fields = instance[0]["fields"];
                $("#bucket-id").val(result["bucketid"])
                $("#bucket-type").val(fields["waste_type"]);
                $("#bucket-num").val(fields["buckets_num"]);
                $("#bucket-date").val(fields["last_update"]);
            },
            error: function (result) {
                alert("error");
            }
        });
    }


    function editDataButton(self) {
        document.getElementById("statusMsgED").innerHTML = "";
        getDatabyID(self);
        $('#editDataModal').modal('show');
    }

    function editBucketButton(self) {
        document.getElementById("statusMsgEB").innerHTML = "";
        getBucketbyID(self);
        $('#editBucketModal').modal('show');
    }

    function deleteDataButton(self) {
        document.getElementById("statusMsgDD").innerHTML = "";
        getDatabyID(self);
        $('#deleteDataModal').modal('show');
    }

    function deleteBucketButton(self) {
        document.getElementById("statusMsgDB").innerHTML = "";
        getBucketbyID(self);
        $('#deleteBucketModal').modal('show');
    }
</script>

<!-- <script>
    $(document).ready(function () {
        // Create DataTable
        var table = $('#waste_buckets').DataTable({
            dom: 'Blfrtip',
            buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script> -->

{% endblock content %}