{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Διαχείριση Αρχείων</h1>
    <br>
    <!-- <div class="row">
        <div class="col-xl-12 col-lg-5">
            <div class="card shadow">
                <div class="card-body mr-6">
                    <a href="{% url 'open_pdf' %}">
                        <img id="folder-icon" src="{% static 'media/folder_icon.png' %}" style="width: 200px; height: auto;"/>
                    </a>
                    <img id="folder-icon" src="{% static 'media/folder_icon.png' %}" style="width: 200px; height: auto;"/>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="frmDronpDown"> -->
            <!-- <div class="row" style="text-align: center;">
                <div class="col-xl-6 col-lg-5">
                    <label>Έτος</label><br /> 
                        <select name="country"
                            id="country-list" class="demoInputBox"
                            onChange="getState(this.value);">
                            <option value="">Έτος</option>
                            {% for y in fy%}
                                <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                </div>

                <div class="col-xl-6 col-lg-5">
                    <label>Μήνας</label><br /> 
                        <select name="state"
                            id="state-list" class="demoInputBox">
                            <option value="">Μήνας</option>
                        </select>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-12 col-lg-7" style="text-align: center;">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Αρχεία Δήμου</h6>
                        </div>
        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover display" id="waste_data" class="display"
                                    style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Όνομα Αρχείου</th>
                                            <th>Ημερομηνία Ανάρτησης</th>
                                            <th>Ημερομηνία Αναφοράς</th>
                                            <th>Αναρτήθηκε από</th>
                                            <th>Επιλογές</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for f in files %}
                                        <tr>
                                            <td>{{ f.old_file_name }}</td>
                                            <td>{{ f.date_uploaded }}</td>
                                            <td>{{ f.date_referred }}</td>
                                            <td>{{ f.user }}</td>
                                            <td><button type="button" class="btn btn-warning btn-circle btn-sm" name="btn2"
                                                title="Τροποποίηση"><i class="fas fa-pencil-alt"></i></button>
                                            <button type="button" class="btn btn-danger btn-circle btn-sm" title="Διαγραφή">
                                                <i class="fas fa-trash"></i></button></td>
                                        </tr>
                                        {% endfor %}
                                        <!-- for end -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</div>

{% endblock content %}