{% extends "main/base.html" %}
{% block content %}
{% load humanize %}
{% load mathfilters %}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Δεδομένα Δρομολογίων</h1>
    <br />


   

</div>

{% endblock content %}