{% extends "main/base.html" %}
{% block content %}

<meta http-equiv="refresh" content="1; URL={% url 'add_data' %}" />

<div class="alert alert-success alert-dismissible fade show">
    <strong>Επιτυχία!</strong> Τα δεδομένα σας καταχωρήθηκαν επιτυχώς.
</div>

{% endblock content %}