{% extends "main/base.html" %}
{% block content %}
{% load humanize %}
{% load mathfilters %}

<script>
    function generateTable() {
        var data = $('textarea[name=excel_data]').val();
        console.log(data);
        var rows = data.split("\n");

        var table = $('<table />');

        for(var y in rows) {
            var cells = rows[y].split("\t");
            var row = $('<tr />');
            for(var x in cells) {
                row.append('<td>'+cells[x]+'</td>');
            }
            table.append(row);
        }

        // Insert into DOM
        $('#excel_table').html(table);
    }
</script>

<style>
    table{
        border-collapse:collapse;
        border:1px solid #000000;
    }

    table td{
        border:1px solid #000000;
    }
</style>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Πίνακας Δεδομένων Αποβλήτων</h1>
    <br />

    <div class="row">

        <p>Paste excel data here:</p>
        <textarea name="excel_data" style="width:250px;height:150px;"></textarea><br>
        <input type="button" onclick="javascript:generateTable()" value="Genereate Table"/>

        <br /><br />

        <p>Table data will appear below</p>
        <hr>
        <div id="excel_table"></div>
    
    </div>
</div>


{% endblock content %}