{% extends "main/base.html" %}
{% block content %}
{% load humanize %}
{% load mathfilters %}

<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/cr-1.6.1/date-1.2.0/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/rg-1.3.0/rr-1.3.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/cr-1.6.1/date-1.2.0/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/rg-1.3.0/rr-1.3.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.js"></script>


<style>
    .my-datable-custom {
        max-height: calc(100vh-2000px);
        /* max-height: 200px; */
    }
</style>
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Πίνακας Δεδομένων Αποβλήτων</h1>
    <br />
    
    <div class="row">
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Συνοπτικά στοιχεία ετών</h6>
                </div>

                <div class="card-body">
                    <div class="table-responsive my-datable-custom">
                        <table class="table table-bordered table-hover" id="waste_data">
                            <thead>
                                <tr>
                                    <th>Κατηγορία Αποβλήτων</th>
                                    {% for y in years %}
                                        <th>Σύνολο {{ y }} (tn)</th>
                                        <th>Συμμετοχή (%)</th>
                                        <th>Μεταβολής (%)</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in wt %}
                                <tr> 
                                    <td>{{ t.waste_greek }}</td>
                                    {% for d in wd_data %}
                                        {% for wd in d.data %}
                                            {% if t.waste_greek == wd.type %}
                                                {% with numerator=wd.total denominator=1000 %}
                                                <td><div class="row" style="width: max-content; padding: inherit;">{{ numerator|div:denominator | intcomma }}</div></td>
                                                <td><div class="row" style="width: max-content; padding: inherit;">{{ wd.perc_contr }}</div></td>
                                                <td><div class="row" style="width: max-content; padding: inherit;">{{ wd.perc_change }}</div></td>
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}   
                            </tbody>
                            <tfoot>
                                <tr style="font-weight: bold;">
                                    <td>Σύνολο</td>
                                    {% for d in wd_data %}
                                        {% with numerator=d.total denominator=1000 %}
                                        <td><div class="row" style="width: max-content;padding: inherit;">{{ numerator|div:denominator | intcomma }}</div></td>
                                        <td><div class="row" style="width: max-content; padding: inherit;">100</div></td>
                                        <td><div class="row" style="width: max-content; padding: inherit;">0</div></td>
                                        {% endwith %}
                                    {% endfor %}                                             
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var table = $('#waste_data').DataTable({
        dom: 'Blfrtip',
        buttons: [
        'excel', 'print'
        ],
        //scrollY:        "350px",
        //scrollY:        true,
        // scrollX:        true,
        // scrollCollapse: true,
        paging:         false,
        fixedColumns:   {
            leftColumns: 1,
        },
        ordering: false
        //order: [[1, 'asc']],
        // columnDefs: [ {
        //     "targets": 0,
        //     "orderable": false
        // } ]
    }); 
</script>

<script>
    // Area Chart Example
    var ctx1 = document.getElementById("gChart");

    var myLineChart = new Chart(ctx1, {
    type: 'line',
    data: {
        labels: {{ years }},
        datasets: [{
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: {{ percs }},
        }],
    },
    options: {
        title: {
                display: true,
                text: 'Ποσοστό ανακύκλωσης τελευταίων 5 ετών'            
        },
        maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
        },
        scales: {
            xAxes: [{
                    time: {
                    unit: 'date'
                },
                gridLines: {
                    display: false,
                    drawBorder: false
                },
                ticks: {
                    axTicksLimit: 7
                }
            }],
            yAxes: [{
                ticks: {
                    maxTicksLimit: 5,
                    padding: 10,
                }    
            }],
        },
        legend: {
            display: false,
        },
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            mode: 'label',
            callbacks: {
                label: function(tooltipItem, data) {
                    return data['datasets'][0]['data'][tooltipItem['index']] + '%';
                }
            }
        }
    }
    });
</script>



{% endblock content %}